// @font-face {
//     font-family: 'Exo2.0-Thin';
//     src: local('Exo2.0-Thin'), url(./Exo2.0-Thin.otf) format('otf');
//   }

body {
    margin: 0;
    padding: 0;
    background-color:#000 ;
    color: #fff;
    font-family: 'Exo 2', sans-serif;
}
#root{
    margin-bottom: 40px;
}

.app {
    width: 100%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content_min {
    background-color: #0099cc;
    clip-path: polygon(100% 100%, 100% -80%, -100% 100%);
    margin: 20px 0 0px 0px;
    border-radius: 5px;
}
.red{
	background-color: #cc0066!important;
}
.content_col > p > span{
	color: #09c;
}

.content_item {
    width: 320px;
    height: 480px;
    background-color: #fff;
    color: #000;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left bottom;
    margin: 4px;
    border-radius: 5px;
	clip-path: polygon(100% 100%, 100% -80%, -100% 100%);
	
}
.desabled{
	pointer-events: none;
    opacity: 0.5;
    background: #CCC;
}
.grey{
	background-color: #5b5c5c!important;
}

.content_col p {
    flex: 0 0 auto;
}

.content_item_text {
    margin-left: 40px;
    margin-top: -16px;
}

.niam {
    line-height: 0.3;
}

.content_col {
    display: flex;
    flex-direction: column;
    height: 100%;
}

p {
    text-align: center;
}

.cercle {
    background-color: #09c;
    width: 80px;
    height: 80px;
	border-radius: 50% 50%;
	display: flex;
    justify-content: center;
	align-items: center;
	flex-direction: column;
}
.price{
	font-size: 38px;
    font-weight: 600;;
}
.cercle span{
	color: #fff;
}

.cercle_main {
    display: flex;
    justify-content: flex-end;
    margin-top: 50%;
    margin-right: 5%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}

@media only screen and (max-width: 420px) {
.content_item {
    width: 280px;
}
}